<div class = "row">
<%= form_for(@topic, url: category_topics_path(@category)) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-md-10">
    <%= f.label :name, "temat: " %><br>
    <%= f.text_field :name, cols: 50 %>
  </div>
  <div class="field col-md-10">
    <%= f.label :heading, "pierwszy wpis: " %><br>
    <%= f.text_area :heading, cols: 50 %>
  </div>
  
  <%= f.hidden_field :user_id, value: current_user.id unless current_user.nil? %>

  <div class="actions col-md-10">
    <%= f.submit "utwórz"%>
  </div>
<% end %>

</div>
