<% if post.user %>
  <div data-gravatar = "<%= post.user.id %>" id = "gravatar_<%= post.user.id %>" class = "single_post_gravatar">
    <%= gravatar_for(post.user, '80%' )%>
  </div>
  <div data-user-info = <%= post.user.id %> id = "user_info_<%= post.user.id %>" class = "single_post_user_data" style = "display: none">
    <%= post.user.name %><br/>
    liczba postów: <%= post.user.posts.count%><br/>
    data rejestracji: <br/><%= post.user.created_at.strftime("%d.%m.%Yr.")%><br/>
    <div id = "new_message_link_<%= post.user.id %>" data-message-link = <%= post.user.name %>><%= link_to "wyślij wiadomość","javascript:void(0)" %></div>
  </div>
  <%= post.user.name %>
<% else %>
  <div class = "single_post_gravatar">
    <%= image_tag 'http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/256/User-Role-Guest-icon.png', width: '70%' %>
  </div>
  Gość
<% end %>


