<div class = "topic_in_index row topic_in_index_<%= Random.new.rand(1..3) %>">
  <div class = "col-md-9">
    <%= link_to topic.name.truncate(40), category_topic_path(topic.category, topic) %>
  </div>
  <div class = "col-md-3">Posty: <%= topic.posts.count %>
    <% if root? %>
      <%= link_to "usuń", category_topic_path(topic.category, topic), method: :delete %>
    <% end %>
  </div>
  <br/>
  <% if topic.heading? %>
    <div class = "topic_heading_in_index col-md-12">
      <%= topic.heading.truncate(90) %>
    </div>
  <% end %>
</div>

