<p id="notice"><%= notice %></p>

<p>
<h2><strong>Temat: </strong>
  <%= @topic.name %>
</h2>
</p>

<div class = "single_post">
  <%= @topic.heading %>
</div>
<br/>

<% @topic.posts.each_with_index do |post, index| %>
  <div class = "single_post single_post_<%= index % 2 %> col-md-11">
    
    <div class = "single_post_user col-md-3"> 
    </div>

    <div class = "post_content col-md-9">
      <%= post.content %>
    </div>

  </div>
<% end %>


<%= render 'post_form' %><br/>
<%= link_to 'Edit', edit_category_topic_path(@topic.category, @topic) %> |
<%= link_to 'Back', category_path(@topic.category) %>
