<p id="notice"><%= notice %></p>

<p>
<h2><strong>Temat: </strong>
  <%= @topic.name %>
</h2>
</p>

<div class = "single_post col-md-11">
  <%= @topic.heading %>
</div>
<br/>

<% @topic.posts.each_with_index do |post, index| %>
  <% if post.content %>
    <div class = "single_post single_post_<%= index % 2 %> col-md-11">
      
      <div class = "single_post_user col-md-3">
        <% if post.user %>
          <div data-gravatar = "<%= post.user.id %>" id = "gravatar_<%= post.user.id %>" class = "single_post_gravatar">
            <%= gravatar_for(post.user, '90%' )%>
          </div>
          <div data-user-info = <%= post.user.id %> id = "user_info_<%= post.user.id %>" class = "single_post_user_data" style = "display: none">
            <%= post.user.name %><br/>
            liczba postów: <%= post.user.posts.count%><br/>
            data rejestracji: <br/><%= post.user.created_at.strftime("%d.%m.%Yr.")%><br/>
          </div>
          <%= post.user.name %>
        <% else %>
          <div class = "single_post_gravatar">
            <%= image_tag 'http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/256/User-Role-Guest-icon.png', width: '90%' %>
          </div>
          Gość
        <% end %>
      </div>

      <div class = "post_content col-md-8">
        <% if post.content? %>
          <%= post.content.truncate(130, separator: /\s/) %>
        <% end %>
      </div>

    </div>
  <% end %>
<% end %>

<div class = "single_post_form col-md-11">
  <% if signed_in? %>
    <div class = "single_post_user col-md-3">
      <%= gravatar_for(current_user, '90%')%>
    </div>
  <% end %>
  <div class = "col-md-9">
    <%= render 'post_form' %>
  </div> 
</div>
<br/>


<%= link_to 'Edit', edit_category_topic_path(@topic.category, @topic) %> |
<%= link_to 'Back', category_path(@topic.category) %>
