<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Heading:</strong>
  <%= @topic.heading %>
</p>

<%= link_to 'Edit', edit_category_topic_path(@category,@topic) %> |
<%= link_to 'Back', category_topics_path(@category) %>
