<div class = "row">
  <div class = "col-md-4 user_column">
    <div class = "user_box">
      <%= render 'gravatar' %>

      <br/>

      <%= @user.name %>

      <br/>
      <%= @user.email %>
      <br/>
      <a href="http://gravatar.com/emails">zmień Gravatar </a><br/>
      <%= link_to "aktualizuj profil", edit_user_path(@user)%>
    </div>

    <div class = "user_mail user_box">
      nie masz żadnych wiadomości
    </div>
  </div>


  <div class = "user_main col-md-8">
    Twoje ostatnie tematy: 
    <% if @user.topics.count >= 5 %>
      <% @user.topics[-5..-1].each do |topic| %>
        <%= render 'topics/topic', topic: topic %>
      <% end %>
    <% elsif @user.topics.count < 5 %>
      <% @user.topics.each do |topic| %>
        <%= render 'topics/topic', topic: topic %>
      <% end %>
    <% else %>
      nie masz żadnych tematów.
    <% end %>

    jesteś aktywny w:
    <% @user.activities.each do |a| %>
      <%= render 'topics/topic', topic: a %> 
    <% end %>
      

  </div>
</div>



