<div class = "row">
  
  <div class = "col-md-4">

    <div class = "col-md-offset-1"> 
      <h4>nasze blogi:</h4>
    </div>
    
    <%= render 'layouts/blog_section' %>
    
    <h4>Kategorie: </h4>
    <% main_categories.each do |category| %>
      <div class = "category_box">
        <div data-sub = <%= category.id %> ><%= link_to category.name, "javascript:void(0)" %></div>
        <div class = "category_options">
          <% if root? %>
            <%= link_to 'Edit', edit_category_path(category) %>
            <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>

      <div id = "sub_<%= category.id %>" class = "no-display">
        <% category.subcategories.each do | sub |%>
          <div class = "category_box sub">
            <%= link_to sub.name, sub %>
          </div>
        <% end %>
      </div>

    <% end %>
    <br>
    <% if root? %>
      <%= link_to 'nowa kategoria', new_category_path %>
    <% end %>
  </div>


  <div class = " col-md-7">
    <%= render 'last_topics' %>
    <br/>
    <%= render 'active_topics' %>
  </div>

</div>
