<div class = "col-md-3">
  <% main_categories.each do |category| %>
    <div class = "category_box">
      <%= image_tag category.imageUrl, width: 10, height: 10, class: "category_image"%>
      <%= category.name %>
      <div class = "category_options">
        <%= link_to 'Show', category %>
        <%= link_to 'Edit', edit_category_path(category) %>
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
<br>

<%= link_to 'nowa kategoria', new_category_path %>


</div>

<div id="carousel-example-generic" class="carousel slide col-md-7 col-md-offset-1" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
      <!-- Wrapper for slides -->
  <div class="carousel-inner" style = "height: 300px;">
    <div class="item active">
      <img src="http://i2.pinger.pl/pgr388/dc1c1c2000059a584d8f0301/glany%2B15-BORDO.jpg" alt="...">
      <div class="carousel-caption">
        <p>hello world</p>
      </div>
    </div>
    <div class="item">
      <img src="http://i.pinger.pl/pgr459/2d0e00bc0022f17e4d8f02fe/glany.gif" alt="...">
      <div class="carousel-caption">
        <p>hello world</p>
      </div>
    </div>
          ...
  </div>
      <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
