<div class = "col-md-3">
  <% main_categories.each do |category| %>
    <div class = "category_box">
      <%= image_tag category.imageUrl, width: 10, height: 10, class: "category_image"%>
      <%= category.name %>
      <div class = "category_options">
        <%= link_to 'Show', category %>
        <%= link_to 'Edit', edit_category_path(category) %>
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
<br>

<%= link_to 'nowa kategoria', new_category_path %>


</div>

