<div class = "row">
  
  <div class = "col-md-3">
    <h3>zapraszamy na blogi:</h3>
    <h3>Kategorie: </h3>
    <% main_categories.each do |category| %>
      <div class = "category_box">
        <div data-sub = <%= category.id %> ><%= link_to category.name, "javascript:void(0)" %></div>
        <div class = "category_options">
          <% if root? %>
            <%= link_to 'Edit', edit_category_path(category) %>
            <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>

      <div id = "sub_<%= category.id %>" class = "no-display">
        <% category.subcategories.each do | sub |%>
          <div class = "category_box sub">
            <%= link_to sub.name, sub %>
          </div>
        <% end %>
      </div>

    <% end %>
    <br>
    <% if root? %>
      <%= link_to 'nowa kategoria', new_category_path %>
    <% end %>
  </div>

  <%= image_tag 'http://blenderartists.org/forum/attachment.php?attachmentid=201976&d=1352306706', width: '10%', height: '1000px', class: 'divider_image' %>

  <div class = " col-md-7">
    <%= render 'last_topics' %>
    <br/>
    <%= render 'active_topics' %>
  </div>

  <%= image_tag 'http://nastoletniaczarownica.files.wordpress.com/2013/10/przedza.jpg?w=593', width: '6%'%>
</div>
