<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<div class = "category_topics_index">

  <% @category.topics.all.each do |topic| %>
    <%= link_to topic.name, category_topic_path(@category, topic) %>
  <% end %>
</div>


<%= link_to 'nowy temat', new_category_topic_path(@category) %> |
<%= link_to 'Edytuj kategorię', edit_category_path(@category) %> |
<%= link_to 'wróć', categories_path %>
