<p id="notice"><%= notice %></p>

<p>
  <strong>Kategoria:</strong>
  <%= @category.name %>
</p>

<div class = "category_topics_index">

  <% if @category.topics.any? %>
    <% @category.topics.each do |topic| %>
      <div class = "topic_in_index row" >
        <div class = "topics_name_in_index col-md-8">
          <%= link_to topic.name, category_topic_path(@category, topic) %>
        </div>
        <div class = "topics_post_count col-md-4">
          posty: <%= topic.posts.count %>
        </div>

        <div class = "topics_heading_in_index col-md-8">
          <%= topic.heading %>
        </div>
      </div>
    <% end %>
  <% else %>
    w tej kategorii nie ma jeszcze tematów. Bądź pierwszy !<br/><br/><br/>
  <% end %>
</div>


<%= link_to 'nowy temat', new_category_topic_path(@category) %> |
<%= link_to 'Edytuj kategorię', edit_category_path(@category) %> |
<%= link_to 'dodaj podkategorię', new_category_path(:mother => @category.id) %> |
<%= link_to 'wróć', categories_path %>
