<p id="notice"><%= notice %></p>

<p>
  <strong>Kategoria:</strong>
  <%= @category.name %>
</p>


<% if @category.overcategory.nil? %>
  Wybierz podkategorię:<br/> 
  <% @category.subcategories.each do |cat| %>
    <%= cat.name %><br/>
  <% end %>
<% else %>
  <div class = "category_topics_index">
    <% if @category.topics.any? %>
      <% @category.topics.each do |topic| %>
        <%= render 'topics/topic', topic: topic %>
      <% end %>
    <% else %>
      w tej kategorii nie ma jeszcze tematów. Bądź pierwszy !<br/><br/><br/>
    <% end %>
  </div>
<% end %>

<% if signed_in? && @category.overcategory %>
  <%= link_to 'nowy temat', new_category_topic_path(@category) %> |
<% end %>
<% if root? %>
  <%= link_to 'Edytuj kategorię', edit_category_path(@category) %> |
  <%= link_to 'dodaj podkategorię', new_category_path(:mother => @category.id) %> |
<% end %>
<%= link_to 'wróć', categories_path %>
