<p id="notice"><%= notice %></p>

<p>
  <strong>Kategoria:</strong>
  <%= @category.name %>
</p>

<div class = "row">
  <% if @category.overcategory.nil? %>
    Wybierz podkategorię:<br/> 
    <% @category.subcategories.each do |cat| %>
      <div class = "category_box col-md-7 col-md-offset-1">
        <%= link_to cat.name, cat %>
      </div>
    <% end %>
  <% else %>
    <div class = "category_topics_index col-md-9 col-md-offset-1">
      <% if @category.topics.any? %>
        <% @category.topics.each do |topic| %>
          <%= render 'topics/topic', topic: topic %>
        <% end %>
      <% else %>
        w tej kategorii nie ma jeszcze tematów. Bądź pierwszy !<br/><br/><br/>
      <% end %>
    </div>
  <% end %>
</div>


<div class = "row">
  <% if signed_in? && @category.overcategory %>
    <%= button_to 'nowy temat', new_category_topic_path(@category), method: :get, class: "btn col-md-2" %> 
  <% end %>
  <% if root? %>
    <%= button_to 'Edytuj kategorię', edit_category_path(@category), class: "btn col-md-2 col-md-offset-1" %> 
    <%= button_to 'dodaj podkategorię', new_category_path(:mother => @category.id), class: "btn col-md-2 col-md-offset-1" %> 
  <% end %>
  <%= button_to 'wróć', root_url, class: "btn col-md-2 col-md-offset-1" %>
</div>

