<nav class="navbar navbar-default" role="navigation">

<ul class = "row nav">
  <% Category.all.each do |cat|%>
    <% if cat.overcategory.nil? %>
      <li data-menu-button = "<%= cat.id %>" class = "menu_button col-md-1"><%= link_to cat.name, cat %></li>
    <% end %>
  <% end %>
</ul>
</nav>

<div class = "row submenus">
  <% Category.all.each_with_index do |cat, index| %>
    <% if cat.overcategory.nil? %>
      <div data-submenu = "<%= cat.id %>" id = "submenu-<%= cat.id %>" class = "submenu col-md-2 col-md-offset-<%= index %>">
        <% cat.subcategories.each do |subcat|%>
          <%= link_to subcat.name, subcat %>
        <br/>
        <% end %>
        <br/>
        <br/>
        <div class="divider"></div>
        <%= link_to "nowa kategoria", new_category_path(:mother => cat.id) %>
      </div>
    <% end %>
  <% end %>
</div>


