<nav class="navbar navbar-default" role="navigation">

<ul class = "nav row">
<% main_categories.each_with_index do |cat, index| %>
  <li id = "data_button_<%= cat.id %>" data-button = "<%= cat.id %>" class = "menu_button col-md-1 <%= if active_overcategory && cat.id == active_overcategory.id then "active_button" end %> ">
  <%= link_to cat.name %>
  </li>
<% end%>
</ul>

<% main_categories.each_with_index do |cat, index| %>

  <div id = "subcategories_choice_<%= cat.id %>" class = "subcategories_choice col-md-4 col-md-offset-<%= index %>">

    <div class = "subcategories_choice_links">
      <% cat.subcategories.each do |sub| %>
        <li><%= link_to sub.name, sub %></li>
        <br/>
      <% end %>
    </div>

    <div class = "divider"></div>

    <%= link_to "nowa podkategoria", new_category_path(:mother => cat.id) %>
    <br/>
    <br/>

  </div>

<% end %>
</nav>
