<nav class="navbar navbar-fixed-top navbar-default navbar-inverse" role="navigation">
<div class = "navbar-content">
  <ul class = "nav navbar-nav topright_link">
    <% if signed_in? %>
      <li><%= link_to "profil ( #{current_user.name} )", current_user %></li>
      <li><%= link_to "wyloguj", wyloguj_path, method: "delete" %></li>
    <% else %>
      <li><%= link_to "zaloguj", zaloguj_path %></li>
      <li class = "divider"></li>
      <li><%= link_to "zarejestruj się", rejestracja_path %></li>
    <% end %>
  </ul>
  <ul class = "nav navbar-nav">
    <li><%= link_to "sklep", '#' %></li>
  </ul>
  <div class = "navbar-form ">
    <%= form_tag topics_path, method: :get do %>
      <div class = "form-group col-md-offset-4 col-md-3"> 
        <%= text_field_tag :search, params[:search], class: "form-control"%>
      </div>
      <%= submit_tag "szukaj", class: "btn" %>
    <% end %>

  </div>
</nav>


