<!DOCTYPE html>
<html>
<head>
  <title>Motowidlo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class = "body">

<%= render 'messages/modal'%>
<%= render 'layouts/top_bar'%>
<div class = "middle_bar">
  <%= render 'layouts/middle_bar'%>
</div>

<div class = "main_yield jumbotron col-md-10 col-md-offset-1">

  <div class = "col-md-12 header">
    <%= link_to image_tag("http://i57.tinypic.com/2md2qh1.jpg", width: 370, height: 270), root_url, class: "col-md-5"%>
    <h3 class = "col-md-6" style = "margin-top: 50px;">miejsce na chwytliwy tekst po którego przeczytaniu nikt nie będzie chciał opuścić tej strony</h3>
    <br/><br/><br/><br/>
  </div>


  <div class = "col-md-12">
    <% flash.each do |key, value| %>
      <div class = "alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
    <br/>
    <br/>
    <%= debug(params) if Rails.env.development? %>
  </div>
</div>

</body>
</html>
