<!DOCTYPE html>
<html>
<head>
  <title>Motowidlo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class = "body">

<%= render 'layouts/top_bar'%>
<div class = "middle_bar">
  <%= render 'layouts/middle_bar'%>
</div>
<div class = "main_yield jumbotron col-md-10 col-md-offset-1">
  <div class = "col-md-10 col-md-offset-1">
    <h1>"MOTOWIDLO"</h1><br/><br/>
    <%= yield %>
  </div>
</div>

</body>
</html>
